section.nav {
  padding-block: 15px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
section.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
section.nav .container .logo {
  display: flex;
  align-items: center;
}
section.nav .container .logo img {
  height: 5rem;
}
section.nav .container .nav_links {
  display: flex;
  gap: 0.5rem;
}
section.nav .container .nav_links a {
  opacity: 0.8;
  color: #fff;
  padding-inline: 2rem;
}
section.nav .container .nav_links a:hover {
  opacity: 1;
  color: #59bdff;
}
section.nav .container .btn {
  opacity: 1;
  border: 1px solid white;
  background-image: linear-gradient(55deg, rgba(7, 0, 133, 0) 0%, rgba(0, 132, 254, 0) 25%, rgb(7, 0, 133) 50%, rgba(0, 132, 254, 0) 75%, rgba(7, 0, 133, 0) 100%);
}
section.nav .container .btn:hover {
  background-image: linear-gradient(55deg, rgb(7, 0, 133) 0%, rgb(0, 132, 254) 25%, rgb(7, 0, 133) 50%, rgb(0, 132, 254) 75%, rgb(7, 0, 133) 100%);
  background-size: 500%;
  border: 1px solid rgba(255, 255, 255, 0);
}

section.home {
  height: 100rem;
  background-image: url(./../img/architecture-1048092.jpg);
  background-size: cover;
  position: relative;
}
section.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(16, 22, 35);
  background: linear-gradient(90deg, rgb(16, 22, 35) 3%, rgba(16, 22, 35, 0.35) 100%);
}
section.home .container {
  position: relative;
  height: inherit;
}
section.home .container .bg_content {
  width: 50%;
  position: absolute;
  top: 48%;
  left: 0;
  transform: translateY(-50%);
}
section.home .container .bg_content h1 {
  color: white;
  font-size: 7.2rem;
  line-height: 8rem;
  padding-bottom: 2rem;
}
section.home .container .bg_content h1 span.typewrite {
  background: linear-gradient(920deg, #00d2ff 0%, #3a47d5 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 2rem;
}
section.home .container .bg_content h1 span.typewrite span {
  border-right: 2px solid white;
}
section.home .container .bg_content p {
  color: white;
  opacity: 0.8;
  font-size: 1.6rem;
  margin-bottom: 4rem;
  line-height: 2.6rem;
}
section.home .container .bg_content a.btn {
  margin-top: 1rem;
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.8);
}
section.home .container .bg_content a.btn:hover {
  color: #fff;
}
section.home .container form {
  position: absolute;
  right: 0;
  top: 48%;
  transform: translateY(-50%);
  min-height: 520px;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.068);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 1px solid #59bdff;
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}
section.home .container form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}
section.home .container form label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
section.home .container form input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
section.home .container form ::-moz-placeholder {
  color: #e5e5e5;
}
section.home .container form :-ms-input-placeholder {
  color: #e5e5e5;
}
section.home .container form ::placeholder {
  color: #e5e5e5;
}
section.home .container form button {
  margin-top: 50px;
  width: 100%;
  padding: 15px 0;
  font-size: 1.8rem;
  border: 1px solid #fff;
  cursor: pointer;
  background-color: transparent;
  opacity: 0.8;
  background-image: linear-gradient(55deg, rgba(7, 0, 133, 0) 0%, rgba(0, 132, 254, 0) 25%, rgba(7, 0, 133, 0) 50%, rgba(0, 132, 254, 0) 75%, rgba(7, 0, 133, 0) 100%);
  transition: all 0.5s ease-in-out;
}
section.home .container form button:hover {
  background-image: linear-gradient(55deg, rgb(7, 0, 133) 0%, rgb(0, 132, 254) 25%, rgb(7, 0, 133) 50%, rgb(0, 132, 254) 75%, rgb(7, 0, 133) 100%);
  background-size: 500%;
  background-position: 40%;
  border: 1px solid rgba(255, 255, 255, 0);
  opacity: 1;
}
section.home .container form button i {
  margin-right: 1rem;
}
section.home .container form * {
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

section.work {
  padding-top: 4rem;
  padding-bottom: 5rem;
}
section.work h1 {
  padding-top: 6rem;
  font-size: 3rem;
  line-height: 8rem;
  padding-bottom: 7rem;
  text-align: center;
}
section.work .swiper {
  width: 60%;
  min-height: 22rem;
}
section.work .swiper .swiper-wrapper .swiper-slide {
  width: 4rem;
}
section.work .swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
}
section.work .swiper .swiper-pagination {
  bottom: 0;
  z-index: 10;
}

section.gallery {
  padding-block: 10rem;
}
section.gallery .container h1.section-heading {
  font-size: 4rem;
  line-height: 8rem;
  padding-bottom: 2rem;
  text-align: center;
  margin-bottom: 3rem;
}
section.gallery .container .img-gallery-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 10rem;
       column-gap: 10rem;
  row-gap: 10rem;
}
section.gallery .container .img-gallery-wrapper .img-wrapper {
  box-shadow: none;
  height: auto;
  transition: all 0.25s ease-in-out;
  transform: translate(0, 0);
}
section.gallery .container .img-gallery-wrapper .img-wrapper:hover {
  transform: translate(-1rem, -1rem);
  box-shadow: rgba(85, 85, 85, 0.4) 5px 5px, rgba(85, 85, 85, 0.3) 10px 10px, rgba(167, 167, 167, 0.2) 15px 15px, rgba(156, 156, 156, 0.1) 20px 20px, rgba(245, 245, 245, 0.05) 25px 25px;
}
section.gallery .container .img-gallery-wrapper .img-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

section.contact {
  display: grid;
  grid-template-columns: 50% 50%;
}
section.contact .contact_left {
  padding-block: 8rem;
  display: flex;
  justify-content: flex-end;
  text-align: right;
  background-color: #0088cc;
}
section.contact .contact_left .contact_box {
  width: 57%;
  text-align: left;
  margin-right: 3rem;
}
section.contact .contact_left .contact_box h1 {
  padding-bottom: 2rem;
}
section.contact .contact_left .contact_box form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
section.contact .contact_left .contact_box form .input_field {
  outline: none;
  border: none;
  background-color: #0088cc;
  border-bottom: 1px solid rgba(255, 255, 255, 0.342);
  font-weight: 500;
  font-size: 1.26rem;
  padding-block: 0.5rem;
  color: #fff;
}
section.contact .contact_left .contact_box form .input_field::-moz-placeholder {
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
}
section.contact .contact_left .contact_box form .input_field:-ms-input-placeholder {
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
}
section.contact .contact_left .contact_box form .input_field::placeholder {
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
}
section.contact .contact_left .contact_box form textarea {
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
}
section.contact .contact_left .contact_box form textarea::-moz-placeholder {
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
}
section.contact .contact_left .contact_box form textarea:-ms-input-placeholder {
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
}
section.contact .contact_left .contact_box form textarea::placeholder {
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
}
section.contact .contact_left .contact_box form .text {
  height: 10rem;
}
section.contact .contact_left .contact_box form .submit {
  width: 12rem;
  opacity: 1;
  border: 1px solid white;
  background-image: linear-gradient(55deg, rgba(7, 0, 133, 0) 0%, rgba(0, 132, 254, 0) 25%, rgba(7, 0, 133, 0) 50%, rgba(0, 132, 254, 0) 75%, rgba(7, 0, 133, 0) 100%);
  background-color: transparent;
  transition: all 0.25s ease-in-out;
  border-radius: unset !important;
  padding-block: 1.5rem;
}
section.contact .contact_left .contact_box form .submit:hover {
  background-image: linear-gradient(55deg, rgb(7, 0, 133) 0%, rgb(0, 132, 254) 25%, rgb(7, 0, 133) 50%, rgb(0, 132, 254) 75%, rgb(7, 0, 133) 100%);
  background-size: 500%;
  background-position: 30%;
  border: 1px solid rgba(255, 255, 255, 0);
}
section.contact .contact_right {
  text-align: left;
  background-image: url(../img/contact-bg-1.jpg);
  background-position-y: 50%;
}
section.contact .contact_right .contact_box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: 5rem;
  margin-left: 3rem;
  margin-top: 8rem;
}
section.contact .contact_right .contact_box a {
  display: flex;
  align-items: center;
  gap: 4rem;
}
section.contact .contact_right .contact_box a .social {
  display: flex;
  gap: 3rem;
}
section.contact .contact_right .contact_box a .social .tw {
  border-inline: 1px solid rgba(255, 255, 255, 0.253);
  padding-inline: 3rem;
}

section.faq {
  margin-bottom: 25rem;
  padding-top: 10rem;
}
section.faq .container {
  width: 60%;
  min-width: none;
}
section.faq .container .faq-head {
  text-align: center;
  width: 80%;
  margin: 0 auto 4rem;
}
section.faq .container .faq-head h1 {
  margin-bottom: 4rem;
}
section.faq .container .questions {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
section.faq .container .questions .question-box {
  background-color: #f5f7fa;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: all 0.2s ease-in-out;
}
section.faq .container .questions .question-box:hover {
  border-left: 8px solid #59bdff;
  box-shadow: 1px 1px 0.5rem rgba(0, 0, 0, 0.1);
}
section.faq .container .questions .question-box .question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.faq .container .questions .question-box .question h1 {
  font-weight: 600;
}
section.faq .container .questions .question-box .question button {
  font-weight: normal;
  font-size: 2rem;
  transition: all 0.2s ease-in-out;
  padding: 0.1rem 0.7rem;
  border-radius: 0.5rem;
}
section.faq .container .questions .question-box .question button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
section.faq .container .questions .question-box .question button:focus {
  color: #59bdff;
}
section.faq .container .questions .question-box p {
  transition: all 0.25s ease-in-out;
}

section.home2 {
  display: none;
}

section.footer {
  padding: 5rem 0;
  background-color: #09142e;
}
section.footer .container {
  text-align: center;
}
section.footer .container a.logo {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffb167;
}
section.footer .container a.logo span {
  background: linear-gradient(920deg, #00d2ff 0%, #3a47d5 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
section.footer .container .footer-links a {
  display: block;
  font-size: 1.6rem;
  color: #fff;
  line-height: 2.8rem;
  color: #fff;
  opacity: 1;
  font-size: 1.4rem;
  font-weight: 300;
  margin: 0 1.5rem;
}
section.footer .container .footer-links a:hover {
  text-decoration: underline;
}
section.footer .container .social-icons a {
  color: #fff;
  opacity: 0.2;
  font-size: 2rem;
  margin: 0 0.5rem;
}
section.footer .container .social-icons a:hover {
  opacity: 1;
}
section.footer .container p.copyright {
  color: #fff;
  opacity: 0.4;
  font-size: 1.2rem;
  font-weight: 300;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
section.footer .container > *:not(:first-child) {
  margin-top: 4rem;
}

@media only screen and (max-width: 1500px) {
  section.nav .container {
    width: 80%;
  }
  section.nav .container .logo img {
    height: 5rem;
  }
  section.home .container {
    width: 80%;
  }
  section.home .container .bg_content {
    top: 45%;
  }
  section.home .container .bg_content h1 {
    font-size: 6rem;
    line-height: 7rem;
  }
  section.work .swiper {
    width: 75%;
  }
  section.work .swiper .swiper-wrapper .swiper-slide {
    width: 4rem;
  }
  section.work .swiper .swiper-wrapper .swiper-slide img {
    width: 100%;
  }
  section.gallery .container .img-gallery-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    -moz-column-gap: 6rem;
         column-gap: 6rem;
    row-gap: 6rem;
  }
}
@media only screen and (max-width: 1200px) {
  body {
    position: relative;
  }
  section.nav .container {
    width: 85%;
  }
  section.nav .container .logo img {
    height: 4rem;
  }
  section.home .container {
    width: 85%;
  }
  section.home .container .bg_content {
    text-align: center;
    width: 100%;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
  }
  section.home .container .bg_content h1 {
    font-size: 6rem;
    line-height: 7rem;
  }
  section.home .container form {
    display: none;
  }
  section.work {
    position: absolute;
    top: 50rem;
    left: 0;
    width: 100%;
  }
  section.work .container h1.section-heading {
    color: rgba(0, 208, 255, 0.431372549);
    -webkit-text-fill-color: unset;
    font-size: 2.6rem;
    padding-bottom: 3rem;
  }
  section.work .container .swiper {
    width: 80%;
    min-height: 17rem;
  }
  section.work .container .swiper .swiper-wrapper .swiper-slide {
    width: 4rem;
    background-color: rgb(255, 255, 255);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    border-radius: 1rem;
  }
  section.work .container .swiper .swiper-wrapper .swiper-slide img {
    width: 100%;
  }
  section.gallery .container {
    width: 85%;
  }
  section.gallery .container .img-gallery-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
    row-gap: 3rem;
  }
  section.faq .container {
    width: 85%;
    min-width: none;
  }
  section.faq .container .questions {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  section.home2 {
    display: block;
    padding-block: 10rem;
    background-image: url(./../img/architecture-1048092.jpg);
    background-size: cover;
    position: relative;
  }
  section.home2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(16, 22, 35);
    background: linear-gradient(90deg, rgb(16, 22, 35) 3%, rgba(16, 22, 35, 0.35) 100%);
  }
  section.home2 .container {
    position: relative;
    height: inherit;
  }
  section.home2 .container .background {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  }
  section.home2 .container .background .shape {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
  }
  section.home2 .container .background .shape:first-child {
    background: linear-gradient(#1845ad, #23a2f6);
    left: -80px;
    top: -80px;
  }
  section.home2 .container .background .shape:last-child {
    background: linear-gradient(to right, #ff512f, #f09819);
    right: -30px;
    bottom: -80px;
  }
  section.home2 .container form {
    min-height: 520px;
    width: 70%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.068);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    border: 1px solid #59bdff;
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
  }
  section.home2 .container form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
  }
  section.home2 .container form label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
  }
  section.home2 .container form input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
  }
  section.home2 .container form ::-moz-placeholder {
    color: #e5e5e5;
  }
  section.home2 .container form :-ms-input-placeholder {
    color: #e5e5e5;
  }
  section.home2 .container form ::placeholder {
    color: #e5e5e5;
  }
  section.home2 .container form button {
    margin-top: 50px;
    width: 100%;
    padding: 15px 0;
    font-size: 1.8rem;
    border: 1px solid #fff;
    cursor: pointer;
    background-color: transparent;
    opacity: 0.8;
    background-image: linear-gradient(55deg, rgba(7, 0, 133, 0) 0%, rgba(0, 132, 254, 0) 25%, rgba(7, 0, 133, 0) 50%, rgba(0, 132, 254, 0) 75%, rgba(7, 0, 133, 0) 100%);
    transition: all 0.5s ease-in-out;
  }
  section.home2 .container form button:hover {
    background-image: linear-gradient(55deg, rgb(7, 0, 133) 0%, rgb(0, 132, 254) 25%, rgb(7, 0, 133) 50%, rgb(0, 132, 254) 75%, rgb(7, 0, 133) 100%);
    background-size: 500%;
    background-position: 40%;
    border: 1px solid rgba(255, 255, 255, 0);
    opacity: 1;
  }
  section.home2 .container form button i {
    margin-right: 1rem;
  }
  section.home2 .container form * {
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
  }
}
@media only screen and (max-width: 768px) {
  body {
    position: relative;
  }
  section.nav .container {
    width: 90%;
  }
  section.nav .container .logo img {
    height: 4rem;
  }
  section.nav .container .nav_links {
    display: none;
  }
  section.nav .container .btn {
    font-size: 1.4rem;
    padding: 0.6rem 1rem;
  }
  section.home .container {
    width: 90%;
  }
  section.home .container .bg_content {
    text-align: center;
    width: 100%;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
  }
  section.home .container .bg_content h1 {
    font-size: 5.4rem;
    line-height: 4rem;
    padding-bottom: 3rem;
  }
  section.home .container .bg_content p {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 5rem;
  }
  section.work .container .swiper {
    width: 90%;
    min-height: 15rem;
  }
  section.work .container .swiper .swiper-wrapper .swiper-slide {
    width: 4rem;
    background-color: rgb(255, 255, 255);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    border-radius: 1rem;
  }
  section.work .container .swiper .swiper-wrapper .swiper-slide img {
    width: 100%;
  }
  section.gallery .container {
    width: 90%;
  }
  section.gallery .container .img-gallery-wrapper {
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
    row-gap: 3rem;
  }
  section.home2 .container form {
    width: 90%;
  }
  section.faq .container {
    width: 90%;
  }
}
@media only screen and (max-width: 576px) {
  body {
    position: relative;
  }
  section.nav .container {
    width: 90%;
  }
  section.nav .container .logo img {
    height: 3.5rem;
  }
  section.nav .container .nav_links {
    display: none;
  }
  section.nav .container .btn {
    font-size: 1.4rem;
    padding: 0.6rem 1rem;
  }
  section.home::before {
    background: rgba(16, 22, 35, 0.7);
  }
  section.home .container {
    width: 90%;
  }
  section.home .container .bg_content {
    text-align: center;
    width: 100%;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
  }
  section.home .container .bg_content h1 {
    font-size: 3.6rem;
    line-height: 2.6rem;
    padding-bottom: 3rem;
  }
  section.home .container .bg_content p {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 5rem;
    font-size: 1.6rem;
  }
  section.work .container .swiper {
    width: 100%;
    min-height: 15rem;
  }
  section.work .container .swiper .swiper-wrapper .swiper-slide {
    width: 4rem;
    background-color: rgb(255, 255, 255);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    border-radius: 1rem;
  }
  section.work .container .swiper .swiper-wrapper .swiper-slide img {
    width: 100%;
  }
  section.gallery .container {
    width: 90%;
  }
  section.gallery .container .img-gallery-wrapper {
    grid-template-columns: 1fr;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
    row-gap: 3rem;
  }
  section.home2 .container {
    width: 90%;
  }
  section.home2 .container form {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  section.nav .container {
    width: 99% !important;
  }
  section.nav .container .nav_links {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  section.nav .container {
    width: 99% !important;
  }
  section.nav .container .nav_links {
    display: none;
  }
}
h1.section-heading {
  background: linear-gradient(180deg, #00d2ff 0%, #3a47d5 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.custom-button {
  font-size: 1.6rem;
  color: #fff;
  background-color: #2500f9;
  padding: 1rem 2rem;
  border-radius: 2.5rem;
  font-weight: 600;
}

.custom-heading {
  background: linear-gradient(920deg, #00d2ff 0%, #3a47d5 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 2rem;
  font-size: 4rem;
}

.custom-subheading {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 700;
  color: #2c3657;
}

.custom-para {
  font-size: 1.6rem;
  color: #616368;
  line-height: 2.8rem;
  font-weight: normal;
}

.large-heading {
  font-size: 6rem;
  color: #2c3657;
  line-height: 7.5rem;
}

button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.visible {
  display: block;
}

.invisible {
  display: none;
}/*# sourceMappingURL=style.css.map */